<div class="row text-center">
    <div class="col-md-4">
        <img src="../assets/clientes.png" alt="clientes" style="width:80%;height:80%">
        <br>
        <br>
        <a class="btn btn-primary" routerLink="cliente">Clientes</a>
    </div>
    <div class="col-md-4">
        <img src="../assets/salonservices.jpg" alt="servicos" style="width:80%;height:80%">
        <a class="btn btn-primary" routerLink="servicos">Servicos</a>
    </div>
    <div class="col-md-4">
        <img src="../assets/finances.png" alt="financas" style="width:80%;height:80%">
        <br>
        <br>
        <a class="btn btn-primary" routerLink="financas">Financas</a>
    </div>
</div>